.control {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.player-view {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 300px;
  position: relative;
  border: solid 1px red;
}
div {
  color: snow;
}
