<div class="row">
  <div class="col">
    <app-player-game
      *ngFor="let player of playerService.getPlayers()"
      [player]="player">
    </app-player-game>
  </div>
  <div class="col border-warning border">
      <div class="row">
        <div class="col-md-1 text-center">#</div>
        <div class="col text-center" *ngFor="let player of playerService.getPlayers()"> {{player.name}}</div>
      </div>
    <div style="overflow-y: scroll; overflow-x: hidden; max-height: 250px" *ngIf="gameTableService.getGameRows() !== null">
      <app-game-row class="text-center" *ngFor="let row of gameTableService.getGameRows()" [gameRow]="row"></app-game-row>
    </div>
  </div>
</div>
