<div class="row">
  <div class="col">
    <app-player-game
      *ngFor="let player of playerService.getPlayers()"
      [player]="player">
    </app-player-game>
  </div>
  <div class="col border-warning border">
      <div class="row">
        <div class="col-md-1 text-center justify-content-center">#</div>
        <div class="col text-center justify-content-center" *ngFor="let name of playersNames"> {{name}}</div>
      </div>
    <div style="overflow-y: scroll; overflow-x: hidden; max-height: 250px">
      <app-game-row class="text-center" *ngFor="let row of gameRows" [gameRow]="row"></app-game-row>
    </div>
  </div>
</div>
