h5 {
  text-align: center;
}
.col {
  align-content: center;
}
a:link {
  text-decoration: none;
  color: snow;
}

a:visited {
  text-decoration: none;
  color: snow;
}

a:hover {
  text-decoration: none;
  color: snow;
}

a:active {
  text-decoration: underline;
}
img {

}

