table {
  margin: auto;
  color: #B8B8B8;
  border: 1px solid black;
}

th,td {
  border: 1px solid black;
  text-align: center;
}

img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  position: unset;
}
