table {
  margin: auto;
  color: #B8B8B8;
  border: 1px solid orangered;
}

th,td {
  text-align: left;
  border: 1px solid orangered;
  text-align: center;
}

img {
  border: 1px solid dimgrey;
  width: 200px;
  height: 200px;
}
