.main {
  background-color: black;
  display: flex;
  flex-direction: row;
}
.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 16%;
  height: 100vh;
}
.middle-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42%;
}

.game-progress {
  width: 90%;
}

.player-details {
  width: 90%;
  text-align: center;
}

.game {
  justify-content: space-between;
  align-items: center;
  width: 42%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}
