.main {
  background-color: black;
  display: flex;
  flex-direction: row;
  font-family: Courier New, serif;
}
.shuffle{
  position: absolute;
  left: 50vw;
  margin-left: -150px;
  top: 50vh;
  margin-top: -150px;
  height: 300px;
  width: 300px;
  border: black solid 1px;
  background-color: #B8B8B8;
  z-index: 4;
}
.players {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 16vw;
  height: 100vh;
}
.middle-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42vw;
}

.game-progress {
  width: 90%;
  z-index: 4;
}

.player-details {
  width: 90%;
  text-align: center;
  z-index: 4;
}

.game {
  justify-content: space-between;
  align-items: center;
  width: 42vw;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 100vh;
  position: relative;
  z-index: 4;
}
