html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: purple;
  height: 100px;
}
/* Add your flexbox CSS below here */
section {
  display: flex;
}
main {
  background-color: black;
}

