.site {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 50vh;
  flex-wrap: wrap;
  z-index: 4;
}
.start-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: 50vh;
  z-index: 4;
}
button {
  border-radius: 15px;
  width: 25%;
  height: 100px;
  font-size: 35px;
  z-index: 4;
}

