.player {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  outline: none;
  z-index: 4;
}
.player:hover {
  background-color: black;
  color: #B8B8B8;
}
input {
  z-index: 4;
}

