.up-display {
  height: 90%;
}
.bottom-display {
  height: 10%;
}
.playBlock {
  background-color: red;
  height: 4.3px;
  width: 30px;
}
div {
color: snow;
}
progress {
  width: 100%;
  border-radius: 9px;
}
