table {
  width: 100%;
  border: black solid 1px;
  color: snow;
  text-align: center;
  font-size: 22px;
}

thead {
  border: black solid 1px;
  width: 100%;
}

th {
  border: black solid 1px;
}

td {
  border: black solid 1px;
}

tr:nth-child(5n) > td{
  border: snow solid 2px;
}



